body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: normal;
    font-family: 'Zen Antique', sans-serif;
    text-transform: capitalize;
}

/* nav menu */

header {
    background: black;
    position: fixed;
    height: 9vh;
}

#navbar {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 10px;
    font-size: 2.5rem;
    font-family: 'Zen Antique', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}

.nav-link a {
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link li:last-child {
    padding-right: 25px;
}

/* welcome */

#welcome-section {
    height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.welcome-content {
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 0 5px;
}

.welcome-content h1 {
    margin: 0;
    font-weight: normal;
    font-size: 5rem;
}

.welcome-content p {
    font-style: italic;
    font-size: 1.5rem;
}

/* about */

.about {
    padding: 2rem 0;
    text-align: center;
    background: black;
    color: white;
}

.about h2 {
    font-style: italic;
    margin-top: 0;
    text-decoration: underline pink;
}

.about .about-img {
    width: 12rem;
    border-radius: 6rem;
}

.about p {
    font-family: 'Roboto', sans-serif;
    width: 60vw;
    margin: auto;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* projects */

#projects {
    background: pink;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 2rem 6rem;
    display: grid;
    grid-template-columns: repeat(3, 21rem);
}

#projects div {
    box-sizing: border-box;
    width: 21rem;
    background: #ffffff52;
    padding: 15px;
    border-radius: 10px;
}

#projects h2 {
    padding: 0 5px;
    text-decoration: underline;
    font-style: italic;
    grid-column: 1 / -1;
}

#projects h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

#projects button {
    border: none;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    background: #f1bfca;
    border-radius: 10px;
}

#projects button:hover {
    background: #f1aebc;
}

#projects a {
    font-family: serif;
    color: black;
    text-transform: capitalize;
}

#projects img {
    height: 15rem;
    display: block;
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1024px) {
    #projects {
        grid-template-columns: 22rem 22rem;
    }
}

@media screen and (max-width: 768px) {
    #projects {
        grid-template-columns: 21rem 21rem;
        padding: 2rem 10px;
    }
}

@media screen and (max-width: 480px) {
    /* nav menu */
    header {
        height: 14vh;
    }
    #navbar {
        flex-direction: column;
    }
    .logo {
        padding-left: 0;
        align-items: center;
    }
    .nav-link {
        align-items: center;
    }
    .nav-link li:last-child {
        padding-right: 0;
    }
    /* welcome */
    .welcome-content h1 {
        font-size: 2.5rem;
    }
    .welcome-content p {
        font-size: 1.4rem;
    }
    /* about */
    .about p {
        width: 90vw;
    }
    /* projects */
    #projects {
        padding: 0;
        grid-template-columns: 20rem;
    }
    #projects div {
        width: 20rem;
    }
}

@media screen and (max-width: 320px) {
    #projects div {
        width: 15.5rem;
    }
}