body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Zen Antique', sans-serif;
    text-transform: capitalize;
}

/* nav menu */

header {
    background: black;
    position: fixed;
    height: 9vh;
}

#navbar {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 10px;
    font-size: 2.5rem;
    font-family: 'Zen Antique', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}

.nav-link a {
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link li:last-child {
    padding-right: 25px;
}

/* welcome */

#welcome-section {
    height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.welcome-content {
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.welcome-content h1 {
    margin: 0;
    font-weight: normal;
    font-size: 5rem;
}

.welcome-content p {
    font-style: italic;
    font-size: 1.5rem;
}

/* about */

.about {
    padding: 2rem 0;
    text-align: center;
    background: black;
    color: white;
}

.about h2 {
    font-style: italic;
    margin-top: 0;
    text-decoration: underline pink;
}

.about .about-img {
    width: 12rem;
    border-radius: 6rem;
}

.about p {
    font-family: 'Roboto', sans-serif;
    width: 60vw;
    margin: auto;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* projects */

#projects {
    justify-items: center;
    gap: 20px;
    text-align: center;
    padding: 2rem 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#projects h2 {
    text-decoration: underline pink;
    font-style: italic;
    grid-column: 1 / -1;
}

#projects button {
    border: none;
}

#projects img {
    height: 14rem;
    display: block;
    width: 21rem;
}

/* media queries */

@media screen and (max-width: 500px) {
    /* nav menu */
    header {
        height: 14vh;
    }
    #navbar {
        flex-direction: column;
    }
    .logo {
        padding-left: 0;
        align-items: center;
    }
    .nav-link {
        align-items: center;
    }
    .nav-link li:last-child {
        padding-right: 0;
    }
    /* welcome */
    .welcome-content h1 {
        font-size: 2.5rem;
    }
    .welcome-content p {
        font-size: 1.4rem;
    }
    /* about */
    .about p {
        width: 90vw;
    }
}